### Janela temporal a ser usada será do dia 12 de novembro de 2021 (em timestamp). Numa aplicação prática, este script rodaria diariamente, sempre computando os dados do dia anterior.

In [1]:
start_date = 1636751080

## Dados de geolocalização obtidos da conta Google

In [2]:
import pandas as pd
import datetime as dt

In [3]:
df = pd.read_json("data/Histórico de localização.json")

In [4]:
gmaps_dump = pd.json_normalize(df['locations'])

In [5]:
gmaps_dump

,timestampMs,latitudeE7,longitudeE7,accuracy,activity,source,deviceTag,altitude,verticalAccuracy,platform,platformType,locationMetadata,velocity,heading
0,1378508750990,-229917099,-433592736,984,"[{'timestampMs': '1378508517137', 'activity': ...",CELL,248904379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1378508766022,-229917099,-433592736,984,"[{'timestampMs': '1378508772583', 'activity': ...",CELL,248904379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1378509026816,-229917099,-433592736,984,"[{'timestampMs': '1378508969051', 'activity': ...",CELL,248904379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1378509072785,-229949469,-433592859,5,NaN,GPS,248904379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1378509118790,-229958679,-433588200,5,NaN,GPS,248904379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333172,1637085823418,-228824983,-434494961,16,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1637085843471', 'wifiScan': ...",NaN,NaN
1333173,1637087035398,-228825122,-434494240,17,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1637087068860', 'wifiScan': ...",NaN,NaN
1333174,1637087113572,-228825232,-434494486,18,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1637087133582', 'wifiScan': ...",NaN,NaN
1333175,1637087543043,-228825339,-434494259,18,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1637087543044', 'wifiScan': ...",NaN,NaN
1333176,1637087569413,-228824926,-434494398,14,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1637087563007', 'wifiScan': ...",NaN,NaN

In [6]:
gmaps_dump['timestampMs'] = gmaps_dump['timestampMs'].apply(lambda x: x[:-3])
gmaps_dump['timestampMs'] = pd.to_numeric(gmaps_dump['timestampMs'])
gmaps_dump['latitudeE7'] = pd.to_numeric(gmaps_dump['latitudeE7'])
gmaps_dump['longitudeE7'] = pd.to_numeric(gmaps_dump['longitudeE7'])

In [7]:
gmaps_dump = gmaps_dump[gmaps_dump['timestampMs'].between(start_date, start_date + 86400)]

In [8]:
gmaps_dump

,timestampMs,latitudeE7,longitudeE7,accuracy,activity,source,deviceTag,altitude,verticalAccuracy,platform,platformType,locationMetadata,velocity,heading
1331574,1636751826,-228825046,-434493861,14,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1636751848413', 'wifiScan': ...",NaN,NaN
1331575,1636753689,-228825034,-434493802,13,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,NaN,NaN,NaN
1331576,1636756495,-228825034,-434493802,13,"[{'timestampMs': '1636753524052', 'activity': ...",WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1636753710339', 'wifiScan': ...",NaN,NaN
1331577,1636756512,-228825696,-434493948,20,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,NaN,NaN,NaN
1331578,1636756535,-228825640,-434493957,20,"[{'timestampMs': '1636756597275', 'activity': ...",WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1636756555184', 'wifiScan': ...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332405,1636833957,-228825032,-434493805,13,"[{'timestampMs': '1636834358519', 'activity': ...",WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1636833977479', 'wifiScan': ...",NaN,NaN
1332406,1636835617,-228824926,-434493904,15,"[{'timestampMs': '1636814057941', 'activity': ...",WIFI,335518007,45.0,3.0,NaN,ANDROID,NaN,NaN,NaN
1332407,1636836119,-228825032,-434493805,13,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,NaN,NaN,NaN
1332408,1636836973,-228825021,-434493842,20,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,NaN,NaN,NaN
1332409,1636837427,-228825055,-434493850,13,NaN,WIFI,-2055370419,45.0,3.0,NaN,ANDROID,"[{'timestampMs': '1636837447320', 'wifiScan': ...",NaN,NaN

In [9]:
import requests
import time

####
# URL de conexão com a API CEP Aberto
####
with open('token.txt') as file:
    token = file.readline()

url = "https://www.cepaberto.com/api/v3/nearest"
headers = {'Authorization': 'Token token=' + token}

### Utilizando Google Geocoding API

In [10]:
with open('token2.txt') as file:
    token = file.readline()

url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="
key = token

In [11]:
locations = pd.DataFrame()
initTimestamp = 0
initLatitude = 0
initLongitude = 0
for index, row in gmaps_dump.iterrows():
    if initTimestamp == 0:
        initTimestamp = row['timestampMs']
        initLatitude = row['latitudeE7']
        initLongitude = row['longitudeE7']
    else:
        if abs(row['latitudeE7'] - initLatitude) > 50000 or abs(row['longitudeE7'] - initLongitude) > 50000:

            duration = (dt.datetime.fromtimestamp(row['timestampMs']) - dt.datetime.fromtimestamp(
                initTimestamp)).total_seconds()
            ####
            # Formatando os dados de localização para se comunicar com a API
            ####
            latitude = row['latitudeE7'] / 10000000
            longitude = row['longitudeE7'] / 10000000
            response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?latlng={latitude},{longitude}&key={key}")
            cep = response.json()['results'][0]['address_components'][-1]['long_name']
            cep = cep[:5] + cep[6:9]
            ####
            # Adicionando entrada à lista
            ####
            tmp = {
                'date': dt.datetime.fromtimestamp(row['timestampMs']),
                'duration': duration,
                'cep': cep
            }
            locations = locations.append(tmp, ignore_index=True, sort=False)

            initTimestamp = row['timestampMs']
            initLatitude = row['latitudeE7']
            initLongitude = row['longitudeE7']

In [12]:
locations

                   date  duration       cep
0   2021-11-13 10:30:42   58416.0  21710231
1   2021-11-13 10:35:05     263.0  21750000
2   2021-11-13 10:37:06     121.0  21740001
3   2021-11-13 10:39:08     122.0  21750001
4   2021-11-13 11:04:44    1536.0  21741340
..                  ...       ...       ...
120 2021-11-13 14:19:13     383.0  21715150
121 2021-11-13 14:22:00     167.0  21715065
122 2021-11-13 14:24:50     170.0  21710030
123 2021-11-13 16:07:26    6156.0  21715000
124 2021-11-13 16:11:24     238.0  21775480

[125 rows x 3 columns]

## Dados do Painel COVID-19 RIO

In [13]:
covid_cases = pd.read_csv('data/Dados_CEP_MRJ_covid_19.csv')

/home/daniel/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
###
# Convertendo os dados de data para objeto datetime e selecionando apenas os 30 dias anteriores
###
covid_cases['dt_inicio_sintomas'] = pd.to_datetime(covid_cases['dt_inicio_sintomas'])
covid_cases = covid_cases[(covid_cases['dt_inicio_sintomas'] < dt.datetime.fromtimestamp(start_date)) &
            (dt.datetime.fromtimestamp(start_date) - dt.timedelta(days=30) < covid_cases['dt_inicio_sintomas'])]

In [15]:
###
# Realizando a contagem de casos em cada CEP
###
relevant_cases_cep = covid_cases.groupby(['cep']).count().reset_index()

cases_by_cep = pd.DataFrame()
cases_by_cep[['cep', 'cases']] = relevant_cases_cep[['cep', 'dt_inicio_sintomas']]

In [16]:
cases_by_cep

           cep  cases
0     20000000      4
1     20010000      1
2     20020021      1
3     20021170      1
4     20031918      1
...        ...    ...
1814  23570210      1
1815  23585660      1
1816  23587220      1
1817  23590020      1
1818  23595200      1

[1819 rows x 2 columns]

### Cruzando os dados de permanência em cada CEP com a incidência de casos de COVID-19

In [17]:
cases_by_cep

           cep  cases
0     20000000      4
1     20010000      1
2     20020021      1
3     20021170      1
4     20031918      1
...        ...    ...
1814  23570210      1
1815  23585660      1
1816  23587220      1
1817  23590020      1
1818  23595200      1

[1819 rows x 2 columns]

In [18]:
locations

                   date  duration       cep
0   2021-11-13 10:30:42   58416.0  21710231
1   2021-11-13 10:35:05     263.0  21750000
2   2021-11-13 10:37:06     121.0  21740001
3   2021-11-13 10:39:08     122.0  21750001
4   2021-11-13 11:04:44    1536.0  21741340
..                  ...       ...       ...
120 2021-11-13 14:19:13     383.0  21715150
121 2021-11-13 14:22:00     167.0  21715065
122 2021-11-13 14:24:50     170.0  21710030
123 2021-11-13 16:07:26    6156.0  21715000
124 2021-11-13 16:11:24     238.0  21775480

[125 rows x 3 columns]

In [19]:
locations_cases = locations.merge(cases_by_cep, on='cep', how='left').fillna(0)

In [20]:
locations_cases.tail()

                   date  duration       cep  cases
120 2021-11-13 14:19:13     383.0  21715150    0.0
121 2021-11-13 14:22:00     167.0  21715065    0.0
122 2021-11-13 14:24:50     170.0  21710030    0.0
123 2021-11-13 16:07:26    6156.0  21715000    0.0
124 2021-11-13 16:11:24     238.0  21775480    0.0

## Dados do aplicativo Samsung Health

In [21]:
from pathlib import Path

In [22]:
df = pd.DataFrame()
jsons = []
pathlist = Path("data/com.samsung.shealth.stress/").glob('**/*.json')
for path in pathlist:
    path_in_str = str(path)
    tmp_df = pd.read_json(path)
    jsons.append(tmp_df)

df = pd.concat(jsons)

In [23]:
df['score'] = pd.to_numeric(df['score'])
df = df.sort_values(by=['end_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

In [24]:
wearable_data = df[df['end_time'] > dt.datetime.fromtimestamp(start_date) + dt.timedelta(days=1)]
wearable_data = wearable_data.drop(['flag', 'level', 'score_max', 'score_min'], axis=1)

In [25]:
wearable_data

              end_time  score          start_time
0  2021-11-13 18:15:59      5 2021-11-13 18:15:00
1  2021-11-13 18:16:59      5 2021-11-13 18:16:00
2  2021-11-13 18:17:59     12 2021-11-13 18:17:00
3  2021-11-13 18:34:59     12 2021-11-13 18:34:00
4  2021-11-13 18:35:59     12 2021-11-13 18:35:00
..                 ...    ...                 ...
34 2021-11-16 18:36:59     24 2021-11-16 18:36:00
35 2021-11-16 18:37:59     20 2021-11-16 18:37:00
36 2021-11-16 18:38:59     56 2021-11-16 18:38:00
37 2021-11-16 18:39:59      5 2021-11-16 18:39:00
38 2021-11-16 18:40:59     46 2021-11-16 18:40:00

[737 rows x 3 columns]

In [26]:
def check_interval(date, series, duration):
    timelapse = (date - dt.timedelta(seconds=duration), date + dt.timedelta(seconds=duration))
    interval = series[(series['date'] >= timelapse[0]) & (series['date'] <= timelapse[1])]
    tmp = pd.DataFrame()
    if interval.shape[0] > 0:
        tmp = interval.groupby('cep').sum().sort_values('duration', ascending=False)
    else:
        tmp = tmp.append({'cep' : '', 'cases' : ''}, ignore_index=True, sort=False)

    return tmp.reset_index()


heartrate_location = pd.DataFrame()

for index, row in wearable_data.iterrows():
    
    location_data = check_interval(row['start_time'], locations_cases, 1000)

    tmp = {
        'time': row["start_time"],
        'score': row["score"],
        'cep' : location_data['cep'].iloc[0],
        'cases' : location_data['cases'].iloc[0]
    }
        
    
    heartrate_location = heartrate_location.append(tmp, ignore_index=True, sort=False)

### Escrevendo JSON

In [27]:
locations_cases.to_json(f"output/{dt.datetime.now()}.json", orient='records')

## Armazenando no MongoDB

In [28]:
import pymongo
from pymongo import MongoClient

In [30]:
with open('db_conn.txt') as file:
    uri = file.readline()

client = MongoClient(uri)

In [31]:
db = client['hrv_cep_cases']
result = db.collection.insert_many(locations_cases.to_dict('records'))